.cut-text-2
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 2
  overflow hidden
  text-overflow ellipsis
  word-wrap break-word

.flex
  display flex  

.border-hairline-bottom
  position relative
  &::after
    content ''
    position absolute
    bottom 0
    left 0
    width: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border: 0 solid #e5e5e5;
    border-bottom-width 1px

